.formColor {
  background-color: #2f303a;
}
.formContainer {
  background-color: black;
  /* background-image: url("../../assets/Landing page/allt.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  height: 90vh;
  position: relative;
  padding-top: 3vh;
}
.inputBox {
  background-color: #202027;
}
.inputField {
  background-color: transparent;
  border-color: #be9063;
  width: 100%;
  margin-bottom: 12px;
}
.formButton {
  background-color: #be9063;
  max-width: 350px;
  transition: 0.5s;
}
.formButton:hover {
  transform: scale(1.05);
}
.subTextMedium {
  font-size: 16px;
}
.subTextSmall {
  font-size: 16px;
}
.linkStyle:hover {
  text-decoration: none;
  color: #be9063;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .px-16 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .inputBox {
    background-color: transparent;
  }
  .formContainer {
    background-color: #000;
    background-image: none;
  }
}
